{{#partial "content"}}
    <body style="background: url('../Images/hans-jurgen-mager-isUsA_-HGOc-unsplash.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;');">

{{#partial "title"}}
    <h4>Add an animal to Jungle World</h4>
{{/partial}}
    <form action="/addAnimal" method="post">

        <div class="form-group">
            <label for="name">Name of the animal:{{animalName}}</label>
            <input id="animalName" name="animalName" class="form-control" type="text" required>
        </div>

        <button class="btn btn-success" href="/SuccessAnimal" type="submit"> Submit</button>
    </form>


    <!--    <a class="btn btn-warning" href="/addAnimal">Add Animal</a>-->
    </body>

{{/partial}}


{{> layout.hbs}}
