{{#partial "content"}}
    <body style="background: url('../Images/zdenek-machacek-UxHol6SwLyM-unsplash.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;');">

    <h1 style="color:white;">Welcome to Jungle World.</h1>

    <div class="jumbotron" style="opacity:0.7;">
        <h3>This is a site that allow rangers to track wildlife sightings in a specific area</h3>
        <h4>We are glad to have you here, feel free to interact with our application by filling the forms above</h4>
    </div>
<!--    <a class="btn btn-info" href="/Animals" style="margin-left:100px;">Check Animal</a>-->
<!--    <a class="btn btn-info" href="/Endangered" style="margin-left:100px;">Check Endangered Animal</a>-->
<!--    <a class="btn btn-info" href="/Sightings"  style="margin-left:100px;" >Check Sighting</a>-->


    </body>

{{/partial}}

{{> layout.hbs}}